@model FooterVCModel
@{
    bool hasFooter = true;
    if (ViewBag.HasFooter != null)
    {
        hasFooter = false;
    }
}
<!-- footer call to action area start -->
@if (hasFooter == true)
{

    <!-- Lets Talk -->
    <section class="lets-talk">
        <div class="background bg-img bg-fixed section-padding" data-background="/Template/img/slider/6.png"
             data-overlay-dark="5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-subtitle">
                            <vc:content id="17"></vc:content>
                        </div>
                        <div class="section-title text-end">
                            <vc:content id="18"></vc:content>
                            <br />
                            <vc:content id="19"></vc:content>
                        </div>
                        <div class="wrap">

                            <a href="tel:@Model.Setting.Tell" class="dir-ltr">
                                @Model.Setting.Tell
                            </a>

                           -

                            <a href="tel:@Model.Setting.Phonenumber" class="dir-ltr">
                                @Model.Setting.Phonenumber
                            </a>

                            <div class="dv">
                            </div>
                            <a href="mailto:@Model.GlobalSetting.EmailLink">
                                @Model.GlobalSetting.EmailLink
                            </a>
                            <div class="dv">
                            </div>
                            <div class="social">

                                @if (!string.IsNullOrEmpty(Model.GlobalSetting.InstagramLink))
                                {
                                    <a class="icon" href="@Model.GlobalSetting.InstagramLink">
                                        <i class="fa-brands fa-instagram">
                                        </i>
                                    </a>
                                }
                                @if (!string.IsNullOrEmpty(Model.GlobalSetting.WhatsappLink))
                                {
                                    <a class="icon" href="@Model.GlobalSetting.WhatsappLink">
                                        <i class="fa-brands fa-whatsapp">
                                        </i>
                                    </a>
                                }
                              

                              
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <footer class="footer bg">
        <div class="container">
            <!-- top -->
            <div class="top">
                <div class="row">
                    <div class="col-md-4 mb-30">
                        <div class="item">
                            <div class="logo">

                                <vc:content id="20" alt="COWASH"></vc:content>
 
                            </div>
                            <p>
                                <vc:content id="21"></vc:content>
                            </p>
                            <div class="social-icons">
                                <ul class="list-inline">
                                    <li>
                                        <a href="@Model.GlobalSetting.WhatsappLink">
                                            <i class="fa-brands fa-whatsapp text-black">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Model.GlobalSetting.InstagramLink">
                                            <i class="fa-brands fa-instagram text-black">
                                            </i>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1 mb-30">
                        <div class="item">
                            <h3>
                                <vc:content id="22"></vc:content>
                            </h3>
                            <div class="links">
                                <ul>

                                   
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="item">
                            <h3>
                                <vc:content id="23"></vc:content>
                            </h3>
                            <p>
                                <vc:content id="24"></vc:content>
                            </p>
                            <div class="newsletter">
                              <a class="button-1 d-flex align-items-center justify-content-center" href="/br">
                                دانلود کاتالوگ
                                    <span class="ti-arrow-top-right">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- bottom -->
            <div class="bottom">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0">
                          تمامی حقوق وب سایت متعلق به مجموعه کواش میباشد
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-0 text-start">
                       طراحی و توسعه    
                            <a href="#">
                                جریان
                            </a>
                            .
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}
